.edit-company {
  & img {
    max-width: 400px;
  }

  & input[type="file"] {
    /* visibility: hidden; */
  }

  & header {
    display: flex;
    justify-content: space-between;
  }

  & .bp3-inline .bp3-label {
    min-width: 100px;
  }

  & .bp3-form-group .bp3-form-group {
    margin: 0;
  }

  & .bp3-form-group .bp3-input-group input {
    min-width: 200px;
  }

  & .button-group {
    text-align: right;
    & button {
      display: inline-block;
      margin: 0 0 0 15px;
    }
  }

  & .img-container {
    overflow: hidden;
  }
}
