.trade {

  & .bp3-input.bp3-active,
  & .bp3-input {
    background: transparent;
    border: none;
    box-shadow: none;

    & input {
      border: none;
    }
  }
  /*display: flex;
  justify-content: space-between;*/
}

.bp3-html-table {
  width: 100%;
}

.button-group {
  text-align: right;
  & button {
    display: inline-block;
    margin: 0 0 0 15px;
  }
}
