@import "../Variables";
@import 'react-select/dist/react-select.css';
body {
    margin: 0;
    font-family: var(--libreFranklin);
}

.main-content {
    padding-top: 90px;
    height: 100%;
}

.inner-content-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.dropdown-list {
    display: none;
}

.dropdown-option:hover, .dropdown-option {
    background-color: #fff !important;
}

.hide {
    display: none;
}

.show {
    &.dropdown-list {
        display: block;
    }
}

ul {
    padding: 0;
    list-style-type: none;
}

.chevron::before {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.5em;
    position: relative;
    top: 0.1em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.5em;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

.chevron.down:before {
    transform: rotate(135deg);
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
    display: inline-block;
    cursor: pointer;
}

.arrow-down {
    width: 0;
    height: 0;
    cursor: pointer;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
    display: inline-block;
}

.arrow-box {
    position: relative;
    background: var(--accent-color);
}

.arrow-box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: var(--accent-color);
    border-width: 8px;
    margin-left: -8px;
}

.visible {
    visibility: visible!important;
}

.Select, .Select-control {
    box-shadow: none !important;
    border: none;
}

.Select {
    background: white;
    font-family: var(--libreFranklin);
    color: var(--input-text);
    font-weight: 300;
    text-align: left;
    & input {
        color: var(--input-text);
        border: none !important;
    }
}

.Select-menu-outer {
    border-top: 1px solid var(--light-grey);
    border-radius: 0px;
}

input, p {
    font-family: var(--libreFranklin);
    font-weight: 300;
    font-size: 16px;
}

input:-webkit-autofill {
    background: white;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border-radius: var(--border-raidus);
    font-family: var(--libreFranklin);
}

.colored-wrapper {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 100%;
    position: relative;
    & .category-name {
        margin-left: 40px;
        padding: 0;
        color: white;
        font-size: 12px;
    }
    & .darker-color {
        -webkit-filter: brightness(80%);
        filter: brightness(80%);
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
    }
    & p {
        margin: 0;
        position: absolute;
        top: 50%;
        width: 80%;
        padding: 0 10%;
        transform: translateY(-50%);
        margin: 0;
        color: #fff;
        font-size: 9px;
    }
}

.icon-wrapper {
    width: 32px;
    height: 32px;
    z-index: 10;
    position: relative;
    text-align: center;
    display: inline-block;
    & img {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 80%;
    }
}

.blue-loading {
    min-height: 100vh;
    background-color: #212831;
}
