@import "../Variables";
.result-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 55px 40px;
    margin: 0 auto;
    max-width: 1400px;
    min-height: 300px;
    & .card {
        width: 250px;
        /* height: 285px; */
        & .text-wrapper {
            position: relative;
            padding: 40px 15px 10px;
            & .profile_type_icon {
                position: absolute;
                top: 10px;
            }
            & .name {
                color: var(--middle-grey);
            }
            & .category {
                text-transform: none;
                font-weight: 400;
            }
        }
    }
}

.card {
    background: white;
    position: relative;
    font-family: $montserrat;
    font-weight: 500;
    margin: 8px 4px;
    & .flag {
        position: absolute;
        right: 10px;
        width: 25px;
    }
    & .flag-wrapper {
        display: inline-block;
        width: 25px;
        padding: 0px 2px;
        & .company-flags {
            width: 100%;
            position: relative;
        }
    }
    & .image-wrapper {
        position: relative;
        background: #f4f4f4;
        height: 150px;
        background-position: center;
        background-size: cover;
        & .image {
            background-size: cover;
            height: 150px;
            background-position: center;
        }
        & .icon-wrapper {
            position: absolute;
            bottom: 0;
            width: 22px;
            height: 22px;
            padding: 5px;
            text-align: center;
            & img {
                height: 22px;
            }
        }
        & .sa-icon-wrapper {
            background: #00923F;
        }
        & .na-icon-wrapper {
            background: #0B1097;
        }
        & .e-icon-wrapper {
            background: #752277;
        }
    }
    & .text-wrapper {
        padding: 25px 15px;
        & .category {
            text-transform: uppercase;
            margin: 0;
            font-weight: 500;
            font-size: 12px;
            color: var(--middle-grey);
        }
        & .name {
            color: var(--accent-color);
            font-weight: 500;
            margin: 10px 0;
        }
        & .yellow-line {
            left: 0;
            background: var(--accent-color);
            position: absolute;
            width: 5px;
            height: 15px;
        }
    }
}
