@import "../Variables";
.form {
    & .country-selection-wrapper {
        padding-top: 20px;
        height: 100px;
        & .name {
            color: var(--input-text);
            font-weight: 200;
        }
        & .colored-wrapper {
            width: 16%;
        }
        & .country-selection {
            vertical-align: top;
            width: 73%;
            position: relative;
            display: inline-block;
            margin-left: 25px;
            & .dropdown-container {
                display: inline-block;
                width: 32%;
                vertical-align: top;
                & .chevron.down {
                    right: 15px;
                    position: absolute;
                }
            }
            & .Select {
                width: 40%;
                vertical-align: top;
            }
            & .selected-countries-wrapper {
                width: 50%;
                margin-left: 25px;
                text-align: left;
                display: inline-block;
                border: 1px solid var(--input-grey);
                background: #fff;
                min-height: 34px;
                & .selected-country-outter {
                    display: inline-block;
                }
                & .selected-country {
                    background: #f2f2f2;
                }
            }
        }
    }
}
