footer {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px 0 40px;

  & .footer-links {
    overflow: auto;
    display: flex;
    justify-content: space-between;

    & .link-column {
      display: block;
      margin-right: 2%;
      width: 20%;
      font-size: 20px;
      color: #fff;
      margin-bottom: 52px;

      & .title {
        font-size: 20px;
        line-height: 26px;
        color: #777;
        margin-bottom: 10px;
      }

      & a {
        display: block;
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 10px 0;
        color: #ddd;
      }
    }
  }

  & .footer-meta {
    display: flex;
    justify-content: space-between;

    & .footer-copyright {
      font-size: 16px;
      line-height: 24px;
      color: #777;
      margin-top: 9px;

      & a {
        color: #ddd;
      }
    }

    & .footer-logos {
      & img {
        height: 35px;
        padding-right: 20px;
      }
    }
  }

}
