.footer {
    background: #000000;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px;
    height: 90px;
    margin-top: -2px;

    & .logo-wrapper {
        width: 8%;
        display: inline-block;

      & img {
            width: 75%;
        }
    }

    & .text-wrapper {
        display: inline-block;
        width: 50%;
        color: white;
        font-size: 8px;
        padding: 0 15px;
        vertical-align: top;
        line-height: 14px;
        & p {font-size: 10px;
            margin: 15px;}
    }

    & .left {
        text-align: right;
        display: inline-block;
        width: 35%;
        vertical-align: super;
        & img {
          height: 35px;
          padding-right: 20px;
        }
        & .datawheel {
          padding-right: 0;
        }
    }
}
