@import "../Variables";
.settings, .login, .signup {
    background-image: url("/images/settings-bg.png");
    padding: 60px 0;
    min-height: 100vh;
    background-size: cover;
    & .Select {
        width: 100%;
        margin: 0;
        border: 1px solid var(--input-grey);
        & .Select-value {
            padding: 0px 2%;
        }
        & p.product-selected {
            padding: 0px 4px;
            width: 100%;
            color: black;
        }
        & .continent-selected-wrapper {
            display: none;
        }
    }
    & .center-content {
        display: inline-block;
        width: 67%;
    }
    & .sidebar-inner {
        padding: 0 14%;
        & h2 {
            font-weight: 400;
            margin-top: 0;
        }
        & p {
            line-height: 18px;
            font-size: 12px;
            color: var(--dark-grey);
        }
        & .back-line {
            background: black;
            width: 7%;
            height: 4px;
        }
    }
    & button {
        & span {
            font-size: 14px;
        }
        font-size: .9em;
        font-weight: 300;
    }
}

.settings {
    & .sidebar {
        & h2 {
            margin-bottom: 0px;
        }
        & .user-email {
            margin: 7px 0px;
            font-size: 16px;
            font-weight: 400;
        }
    }
    & .content-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
}

.login, .signup {
    text-align: center;
    & .form-wrapper {
        & .title-wrapper {
            width: 15%;
            text-align: center;
            max-width: 140px;
            padding: 1.5% 0px;
            min-width: 100px;
        }
        & .form {
            & .error-wrapper p {
                padding: 2px 0px;
            }
        }
    }
    & .center-content {
        text-align: left;
    }
    & .form {
        & .input-wrapper {
            padding: 10px 0px;
            text-align: left;
            & label {
                padding: 7px 0px;
                font-weight: 300;
                color: var(--middle-grey);
            }
        }
    }
    & .text-wrapper {
        text-align: center;
    }
    & p {
        color: var(--middle-grey);
        margin: 5px;
        font-size: 14px;
    }
    & .form {
        padding: 6% 20%;
        padding-bottom: 0px;
    }
    & .login-wrapper, & .signup-wrapper {
        text-align: center;
        padding: 25px 0px;
        & button {
            background: var(--accent-color);
            color: white;
            border: 0px;
            font-size: 16px;
            width: 110px;
            padding: 10px;
            width: 38%;
            max-width: 155px;
        }
    }
}

.form-wrapper {
    min-height: 600px;
    position: relative;
    margin-top: 40px;
    background: #EBEBEB;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(112, 112, 112, 0.35);
    -moz-box-shadow: 0px 0px 8px 0px rgba(112, 112, 112, 0.35);
    box-shadow: 0px 0px 8px 0px rgba(112, 112, 112, 0.35);
    & .section-wrapper {
        padding-top: 10px;
        border-bottom: 1px solid #dadada;
    }
    & .section-wrapper:first-child {
        margin-bottom: 30px;
    }
    & .company-data.section-wrapper {
        border: none;
    }
    & .title-wrapper {
        background-color: black;
        color: white;
        display: inline-block;
        padding: 2% 4%;
    }
    & .toggle-wrapper {
        top: -42px;
        position: absolute;
        & a {
            color: black;
        }
        & .toggle {
            opacity: .8;
            cursor: pointer;
            -webkit-box-shadow: -3px 0px 1px -2px rgba(112, 112, 112, .35);
            -moz-box-shadow: -3px 0px 1px -2px rgba(112, 112, 112, .35);
            box-shadow: -3px 0px 1px -2px rgba(112, 112, 112, .35);
            width: 140px;
            border-radius: 2px;
            display: inline-block;
            font-weight: 200;
            padding: 12px 7px;
            text-align: center;
            margin-right: 2px;
            background: #d3d3d3;
            ;
            font-family: var(--montserrat);
        }
        & .toggle.selected {
            opacity: 1;
            color: black;
            -webkit-box-shadow: -2px -1px 4px -1px rgba(112, 112, 112, .35);
            -moz-box-shadow: -2px -1px 4px-1px rgba(112, 112, 112, .35);
            box-shadow: -2px -1px 4px -1px rgba(112, 112, 112, .35);
            background: #EBEBEB;
        }
    }
    & .description {
        margin: 7px;
        font-size: 15px;
    }
    & .completed-slide {
        padding-top: 90px;
        text-align: center;
    }
    & .button-wrapper {
        width: 100%;
        text-align: right;
        padding-top: 35px;
    }
    & .button {
        position: relative;
        padding: 12px;
        width: 50%;
        max-width: 125px;
        margin: 3px;
        & .right {
            right: 15%;
            position: absolute;
        }
        & .left {
            left: 15%;
            position: absolute;
        }
        & .left:before, & .right:before {
            top: 4px;
        }
    }
    & .button-back {
        background: black;
        border: 1px solid black;
        color: white;
    }
    & .button-next {
        background: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
    & .error-wrapper {
        height: 25px;
        & p {
            margin: 0;
            padding-top: 20px;
            color: red;
            text-align: left;
            font-size: 13px;
        }
    }
    & .countries-error {
        position: absolute;
        right: 25px;
        & p {
            margin: -25px 0px;
            padding-top: 0px;
        }
    }
    & .password.error-wrapper {
        & p {
            padding: 10px;
            padding-left: 28px;
        }
    }
    & .listing-button {
        width: 22%;
        max-width: none;
        & .right {
            right: 8%;
        }
    }
}

.form {
    padding: 30px;
    & input, & textarea {
        width: 96%;
        padding: 7px 2%;
        font-weight: 200;
        border: 1px solid var(--input-grey);
        border-radius: var(--border-raidus);
    }
    & .image-upload {
        cursor: pointer;
        border-radius: var(--border-raidus);
        display: inline-block;
        width: 39%;
        height: 35px;
        position: relative;
        background: black;
        text-align: center;
        & p {
            color: #fff;
            font-size: 12px;
        }
        & input {
            opacity: 0;
            top: 0;
            left: 0;
            position: absolute;
            opacity: 0;
            padding: 0;
        }
    }
    & .description {
        margin: 7px 0;
        padding-bottom: 5px;
    }
    & .input-wrapper {
        padding: 15px 10px;
        & .error-wrapper {
            height: 0;
            & p {
                padding-top: 5px;
            }
        }
    }
    & .input-wrapper:first-child {
        padding-top: 0px
    }
    & .col {
        width: 46%;
        padding: 2%;
    }
    & ul {
        padding: 0;
        list-style-type: none;
        & li {
            padding: 2%;
        }
    }
    & label {
        color: var(--middle-grey);
        font-size: 15px;
        padding: 8px 0;
        display: block;
        font-weight: 300;
    }
    & .delete {
        width: 7px;
        height: 10px;
        padding-left: 5px;
        position: relative;
        vertical-align: middle;
        display: inline-block;
    }
    & .delete:after {
        position: absolute;
        font-size: 18px;
        top: -7px;
        content: '×';
        font-weight: 200;
        color: var(--middle-grey);
    }
    & .selection-wrapper {
        padding: 0px 25px;
        text-align: center;
    }
    & .selected-country, & .selected-product-wrapper {
        display: inline-block;
        background: #f2f2f2;
        margin: 5px;
        padding: 2px 10px;
        border-radius: 3px;
        border: 1px solid var(--input-grey);
        & span {
            font-size: 12px;
            color: var(--input-text);
            font-weight: 200;
            font-family: var(--libreFranklin);
        }
    }
    & .profile-image-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        & .image-preview-wrapper {
            width: 15vw;
            height: 15vw;
            margin-right: 10px;
        }
    }
    & .cover-image-wrapper {
        & .image-preview-wrapper {
            width: 25vw;
            height: 15vw;
            margin-bottom: 10px;
        }
    }
    & .image-preview-wrapper {
        position: relative;
        background: #fafafa;
        & .image-preview {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
        }
    }
    & .product-selection {
        background: white;
        height: 255px;
        overflow: scroll;
        border: 1px solid var(--input-grey);
        vertical-align: text-top;
        & .product-name {
            width: 65%;
            padding: 8px 5px 8px 15px;
        }
        & .product-name.hs4, & .product-name.hs6 {
            padding: 8px 5px 8px 55px;
        }
        & .product {
            position: relative;
            overflow: hidden;
            cursor: pointer;
        }
        & .product-id p, & .product-name {
            font-size: 10px;
            margin: 0;
            color: var(--input-text);
            display: inline-block;
            font-weight: 200;
        }
        & .icon-wrapper {
            width: 28px;
            height: 28px;
        }
        & .colored-wrapper {
            height: 28px;
        }
        & .product-id {
            padding: 3px;
            width: 40px;
            position: absolute;
            height: 100%;
            background: #EBF6AD;
            display: inline-block;
        }
        & .product:nth-child(odd) {
            & .product-id {
                background: #F9FFDE;
            }
        }
        & .selectedItem {
            background: #FEEFD8;
        }
    }
    & .categories-selection {
        & .product-name {
            width: 85%;
        }
    }
    & .country-selection-wrapper {
        padding-top: 20px;
        height: 100px;
        & .name {
            color: var(--input-text);
            font-weight: 200;
        }
        & .colored-wrapper {
            width: 16%;
        }
        & .country-selection {
            vertical-align: top;
            width: 73%;
            position: relative;
            display: inline-block;
            margin-left: 25px;
            & .dropdown-container {
                display: inline-block;
                width: 32%;
                vertical-align: top;
                & .chevron.down {
                    right: 15px;
                    position: absolute;
                }
            }
            & .Select {
                width: 40%;
                vertical-align: top;
            }
            & .selected-countries-wrapper {
                width: 50%;
                margin-left: 25px;
                text-align: left;
                display: inline-block;
                border: 1px solid var(--input-grey);
                background: #fff;
                min-height: 34px;
                & .selected-country-outter {
                    display: inline-block;
                }
                & .selected-country {
                    background: #f2f2f2;
                }
            }
        }
    }
    & .product-selection-wrapper {
        display: inline-block;
        width: 29%;
        text-align: left;
        margin-right: 25px;
        & .product-name {
            color: var(--input-text);
        }
    }
    & .product-label {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 25px;
        color: var(--middle-grey);
    }
    & .product-selection-wrapper.selected {
        & .product-label {
            color: black;
        }
    }
    & .selected-products-wrapper {
        border: 1px solid var(--input-grey);
        padding: 5px;
        background: #fff;
        height: 110px;
        text-align: left;
        margin: 20px 0 35px;
    }
    & .import-wrapper {
        min-height: 285px;
    }
    & .selectedH2, & .selectedH4 {
        background: #FEEFD8;
    }
    & .register-company {
        text-align: center;
        padding-top: 12%;
        & button {
            max-width: 225px;
        }
        & img {
            width: 30px;
        }
        & p {
            padding-bottom: 15px;
        }
    }
}

.user-data {
    & .listing.section-wrapper {
        border-bottom: none;
        & .button-wrapper {
            text-align: left;
        }
        & .register-company {
            padding-top: 0px;
            & p {
                padding: 10px;
                margin: 0;
            }
        }
    }
    & a {
        color: black;
    }
    & .chevron {
        float: right;
        opacity: .7;
        color: #717171;
        padding: 12px 10%;
    }
    & .chevron::before {
        height: .6em;
        width: .6em;
    }
    & .company-name {
        padding: 15px 20px 10px;
    }
    & .view-listing {
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
    }
    & .delete-company, & .view-listing {
        cursor: pointer;
        & p {
            display: inline-block;
            margin: 0px;
            padding: 10px 20px;
        }
    }
    & .delete-company {
        position: relative;
        border-bottom: 1px solid #dadada;
        & .delete {
            position: absolute;
            float: right;
            top: 10px;
            right: 10%;
            opacity: .7;
        }
        & .delete:after {
            font-size: 25px;
            top: -8px;
        }
    }
    & .input-wrapper:first-of-type {
        padding: 25px 25px 5px;
    }
    & .input-wrapper.company-wrapper {
        padding: 15px 20px 0px;
    }
    & .input-wrapper {
        padding: 5px 25px;
    }
    & .button-wrapper {
        padding-top: 0px;
        padding-bottom: 25px;
    }
}
