:root {
    --accent-color: #DBB706;
    --border-raidus: 2px;
    --light-grey: #b3b3b3;
    --middle-grey: #717171;
    --dark-grey: #303030;
    --dark-blue: #141D23;
    --middle-blue: #142128;
    --red: #dd4733;
    --input-grey: #D5D5D5;
    --input-text: #808080;
    --montserrat: "Montserrat", sans-serif;
    --libreFranklin: "Libre Franklin", sans-serif;
}

body {
  background-color: var(--dark-blue);
}
body, h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}
p {
  line-height: 1.3;
}



textarea:focus, input:focus, button {
    outline: none;
}

.color-africa {
    background: #ffc41c;
}

.color-south-america {
    background: #00923f;
}

.color-oceania {
    background: #e87600;
}

.color-north-america {
    background: #0b1097;
}

.color-asia {
    background: #c8140a;
}

.color-europe {
    background: #752277;
}

.color-01 {
    background: #FFE999;
}

.color-02 {
    background: #FFC41C;
}

.color-03 {
    background: #E0902F;
}

.color-04 {
    background: #D1FF00;
}

.color-05 {
    background: #330000;
}

.color-06 {
    background: #E377C2;
}

.color-07 {
    background: #f7b6d2;
}

.color-08 {
    background: #98df8a;
}

.color-09 {
    background: #B00000;
}

.color-10 {
    background: #EDE6D9;
}

.color-11 {
    background: #105B10;
}

.color-12 {
    background: #3ab11a;
}

.color-13 {
    background: #D66011;
}

.color-14 {
    background: #752277;
}

.color-15 {
    background: #5E1F05;
}

.color-16 {
    background: #17BCEF;
}

.color-17 {
    background: #9edae5;
}

.color-18 {
    background: #AA1F61;
}

.color-19 {
    background: #A4BD99;
}

.color-20 {
    background: #7F7F7F;
}

.color-21 {
    background: #93789E;
}

.color-22 {
    background: #C7C7C7;
}
