@import "../Variables";
.detailed-content-wrapper {
  & .bp3-non-ideal-state {
    color: white;
    margin: 40px auto;
    & .bp3-non-ideal-state-title {
      color: white;
    }
  }

  & .loading-wrapper {
    text-align: center;
          display: block;
    & p {
      color: white;
      font-size: 18px;
    }
  }
    & .no-companies.result-wrapper {
        display: block;
        text-align: center;
        & p {
            color: white;
            font-size: 17px;
            margin-top: 30px;
            margin-bottom: 0px;
        }
        & .list-company {
            position: relative;
            margin: 25px;
        }
    }
    & .list-company {
        color: white;
        display: inline-block;
        padding: 15px 10%;
        background: #dd4733;
        width: 12%;
        font-size: 14px;
        font-weight: 200;
        margin: 41px 30px;
        padding: 16px;
        min-width: 180px;
        position: relative;
        border: none;
    }
    & .radio-label {
        width: 30%;
    }
    & .radio {
        margin: 0 20px;
    }
    & p {
        font-size: 14px;
    }
    & h2 {
        word-wrap: break-word;
        margin: 8px 0;
        font-size: 1.4em;
        font-weight: 400;
    }
    & .center-content {
        display: inline-block;
        width: 75%;
    }
    & .filter-wrapper {
        text-align: left;
        padding: 40px;
        background: #2E3437;
        color: white;
        & .go {
            background: black;
            border-radius: 0;
            padding: 12px;
        }
        & button {
            text-transform: uppercase;
            font-weight: 300;
            margin: 0;
            font-size: 14px;
            color: white;
            border: none;
        }
        & .filter {
            width: 40%;
            display: inline-block;
            & p {
                display: inline-block;
            }
            & .label {
                margin: 0 40px 0 0;
                width: auto;
                display: inline-block;

                & .radio {
                  display: inline-block;
                  margin-left: 0px;
                }
                & p {
                    display: inline-block;
                    text-transform: uppercase;
                    font-weight: 300;
                    text-align: left;
                    vertical-align: baseline;
                    font-size: 13px;
                    margin: 0;
                }
                & img {
                    margin: 0 5%;
                    vertical-align: text-top;
                }
            }
        }
        & .filter.export-import {
            width: auto;
            margin-right: 24px;
        }
        & .filter.button-wrapper {
            width: 15%;
            & .clear-filters {
                font-size: 13px;
                width: 100%;
                background: #484848;
                font-weight: 300;
                padding: 8px 5px;
                & img {
                    margin-right: 10px;
                    width: 15px;
                    vertical-align: text-top;
                }
            }
        }
    }

    & .intro-text {
      /*background: #212831;
      display: inline-block;
      float: right;
      width: 25%;*/
      padding: 55px 0 24px 32px;
      flex: 0 0 25em;

      & section {
        margin: 0px;
        padding: 0px;

        & p {
          vertical-align: middle;
          font-size: 18px;
          line-height: 1.5;
          color: #efefef;
          font-weight: normal;

          & a {
            color: #999;
          }
        }
      }
    }

    & .result-wrapper-outer {
        display: flex;
        background: #212831;

        & h2 {
            margin: 0;
            color: #fff;
            font-size: 18px;
            text-align: center;
        }
        & .result-wrapper {
            @include flexbox;
            @include flex-wrap(wrap);
        }
    }
    & .description-wrapper {
        padding: 40px 10%;
        & p {
            line-height: 1.5;
        }
    }
}

.company {

    & h3 {
      color: white;
    }
    & button {
        font-size: 14px;
    }
    & .section-wrapper {
      padding: 25px 35px;
    }
    & .button-icon, & .section-wrapper img {
        margin: 0 10px -3px 0;
        vertical-align: top;
        display: inline-block;
    }
    & .product-wrapper,
    & .link-wrapper {
      display: inline-block;
      margin: 8px 16px;
      width: 285px;
      height: 64px;

      & .icon-wrapper {
        position: relative;
        display: inline-block;
        width: 64px;
        height: 64px;
        margin: 0px;
        z-index: 0;

        & img {
          margin-right: 0px;
        }
      }

      & .colored-wrapper {
        display: inline-block;
        width: 220px;
        height: 64px;
        padding: 0px;
        margin: 0px;

        & p {
            font-size: 14px;
            padding: 8px 10px 8px 12px;
            width: 100%;
        }
      }
    }
    & .link-wrapper {
      margin: 10px 0 0 0;

      & .icon-wrapper {
        height: 40px;
        width: 40px;
      }
      & .colored-wrapper {
        width: 170px;
        height: 40px;
        & p {
          font-size: 16px;
        }
      }
    }
    & .products {

      & h3 {
            padding: 20px 0px 0px;
      }
      & button {
          color: white;
          border: 1px solid white;
          background: black;
          padding: 15px;
          margin: 40px 0 40px 16px;
          width: 285px;
      }
    }
}

.product.detailed-content-wrapper {
    & .filter-wrapper {
        margin: -5px 0px;
    }
    & .filter {
        & .dropdown-container {
            width: 50%;
        }
        & .country-dropdown-label {
            width: auto;
        }
    }
}
