@import "../Variables";
.home-background {
    background: 202020;
    min-height: 100%;
}

.home {
    background-image: url("/images/home-bg.jpg");
    width: 100%;
    background-size: cover;
    & .home-logo {
      padding-bottom: 20px;
      & img {
        width: 140px;
      }
    }
    & .mm-logo {
        width: 180px;
    }
    & .logos-wrapper {
        text-align: center;
        padding: 55px 0;
        & .img-wrapper {
            & .connect {
                margin-top: -10px;
                height: 100px;
            }
            & img {
                padding: 25px 30px;
                height: 80px;
                vertical-align: top;
                &.collective-learning {
                  /*padding: 25px 2px 25px 30px;*/
                }
                &.media-lab {
                  /*padding: 25px 30px 25px 2px;*/
                }
            }
        }
        & p {
            color: white;
            text-transform: uppercase;
        }
    }
    & .oec-logo-wrapper {
        margin-bottom: 5px;
    }
    & .tagline {
        color: white;
    }
    & .header-wrapper {
        text-align: center;
        margin: 40px 0;
    }
    & .grid-wrapper {
        padding: 25px 0;
        & h3 {
            color: var(--light-grey);
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
        }
        & .row {
            display: inline-block;
            width: 33%;
            vertical-align: text-top;
        }
    }
    & .dropdown-item {
        color: var(--light-grey);
        font-size: 12px;
        padding: 8px;
        font-family: var(--libreFranklin);
    }
    & .content-wrapper {
        width: 80%;
        display: block;
        padding: 20% 0 100px;
        margin: -200px auto 0;
        max-width: 1000px;
        & .search-wrapper {
            background-color: white;
            border: 1px solid white;
            border-radius: var(--border-raidus);
            display: flex;
            font-family: var(--libreFranklin);
            font-weight: 300;
            margin: auto;
            width: 84%;
        }
        & .Select, & .search-button, & .search-input, & .search-input-wrapper, & .selected-wrapper {
            display: inline-block;
            height: 60px;
            border: 0;
            padding: 0;
            vertical-align: middle;
        }
        & .Select {
            width: 25%;
            right: -3px;
            border-left: 1px solid var(--light-grey);
            color: var(--middle-grey);
            & .Select-control {
                height: 60px;
                cursor: pointer;
                & .Select-value-label {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        & .Select-menu-outer {
            width: 100%;
            border: 1px solid #fff;
            border-top: 1px solid var(--light-grey);
            & .dropdown-option {
                color: var(--light-grey);
                font-weight: 200;
                font-size: 14px;
                padding: 12px 10px;
            }
            & .Select-option.is-selected {
                display: none;
            }
        }
        & .search-input-wrapper {
            position: relative;
            margin: 0 -1px;
            width: 75%;
            vertical-align: top;
            & .search-input {
                background: none;
                width: 100%;
                margin-left: 10px;
                color: var(--middle-grey);
            }
        }
        & .filter-dropdown-container {
            & .selected-wrapper {
                height: 60px;
                & .chevron, & p {
                    margin: 0 12px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 80%;
                }
                & .chevron {
                    text-align: right;
                }
                & .top {
                    margin-top: 5px;
                }
            }
        }
        & ul {
            border-top: 1px solid var(--light-grey);
            padding: 10px 0;
            z-index: 10;
            height: 200px;
        }
        & ul.suggestions-wrapper {
            height: auto;
            max-height: 220px;
            overflow: scroll;
        }
        & .search-button {
            width: 15%;
            background-color: black;
            color: white;
            text-transform: uppercase;
            border-radius: var(--border-raidus);
        }
        & .suggestions-wrapper {
            background: white;
            width: 100%;
            margin: 0;
            position: absolute;
            cursor: pointer;
            .icon {
                padding: 0 10px;
            }
            & li {
                position: relative;
                & p {
                    margin: 0;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    font-size: 13px;
                    padding-left: 10px;
                    transform: translateY(-50%);
                }
            }
        }
    }
    & .cta-buttons-wrapper {
        cursor: pointer;
        margin-top: 65px;
        margin-right: 2%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        & .cta-button {
            border: 1px solid var(--accent-color);
            border-radius: var(--border-raidus);
            width: 31%;
            margin-left: 2%;
            background-color: var(--accent-color);
            & .text-wrapper {
                position: relative;
                padding: 10% 0;
                height: 60px;
                & h2 {
                    font-size: 16px;
                }
                & p {
                    font-size: 14px;
                }
                & .chevron {
                    right: 10%;
                }
                & .chevron, & .icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                & .icon {
                    width: 22px;
                    left: 7%;
                }
                & .transport {
                    width: 37px;
                }
                & .text-inner {
                    margin: 0 auto;
                    width: 50%;
                }
                & .chevron:before {
                    height: .9em;
                    width: .9em;
                    border-width: 0.13em 0.13em 0 0;
                }
                & h2, & p {
                    margin: 5px;
                }
                & p {
                    color: white;
                }
            }
        }
        & .cta-button-selected {
            background-color: #000000;
            color: white;
        }
    }
}
