body {
    margin: 0;
    padding: 0 0 60px;
}

.main-content {
    padding-top: 90px;
    height: 100%;
}

.dropdown-list {
    display: none;
}

.hide {
    display: none;
}

.show {
    .dropdown-list {
        display: block;
    }
}

ul {
    padding: 0;
    list-style-type: none;
}

.chevron::before {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.5em;
    left: 0.1em;
    position: relative;
    top: 0.1em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.5em;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

.chevron.down:before {
    transform: rotate(135deg);
}

.arrow-box {
    position: relative;
    background: $accent-color;
}

.arrow-box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $accent-color;
    border-width: 8px;
    margin-left: -8px;
}

.visible {
    visibility: visible!important;
}

input,
p {
    font-family: $libreFranklin;
    font-weight: 300;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border-radius: $border-raidus;
    font-family: $libreFranklin;
}
//colored product
.colored-wrapper {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 100%;
    position: relative;

    .category-name {
        margin-left: 40px;
        padding: 0;
        color: white;
        font-size: 12px;
    }

    .darker-color {
        @include filter(brightness, 80%) position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }

    p {
        margin: 0;
        position: absolute;
        top: 50%;
        width: 80%;
        padding: 0 10%;
        transform: translateY(-50%);
        margin: 0;
        color: #fff;
        font-size: 9px;
    }
}

.icon-wrapper {
    width: 32px;
    height: 32px;
    z-index: 10;
    position: relative;
    text-align: center;
    display: inline-block;

    img {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 80%;
    }
}

.blue-loading {
  min-height: 100vh;
  background-color: #212831;
}
