.detailed-content-wrapper {
    .radio-label {
        width: 30%;
    }

    .radio {
        margin: 0 20px;
    }

    p {
        font-size: 14px;
    }

    h2 {
        margin: 8px 0;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .header-image-wrapper {
        height: 450px;
        position: relative;

        .image-overlay-wrapper {
            position: absolute;
            width: 100%;
            height: 100px;
            bottom: 0;

            a {
                color: white;
            }

            .text-wrapper {
                top: 0;
                color: white;
                position: absolute;
                padding: 15px 5%;
                width: 100%;

                h4 {
                    letter-spacing: 2px;
                    margin: 5px 0;
                    font-size: 12px;
                    font-weight: 200;
                    text-transform: uppercase;
                }
            }

            .section-wrapper {
                display: inline-block;
            }
        }

        .image-overlay {
            background: black;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            bottom: 0;
        }
    }

    .center-content {
        display: inline-block;
        width: 73%;
    }

    .background-image {
        width: 100%;
        position: relative;
        height: 100%;
        background: #f2f2f2;
        background-size: cover;
        background-position: center center;
    }

    .filter-wrapper {
        text-align: center;
        padding: 40px;
        background: #2E3437;
        color: white;

        .go {
            background: black;
            border-radius: 0;
            padding: 10px 12px;
        }

        button {
            text-transform: uppercase;
            font-weight: 300;
            margin: 0;
            font-size: 14px;
            color: white;
            border: none;
        }

        .filter {
            width: 35%;
            display: inline-block;

            .dropdown-container,
            p {
                display: inline-block;
                color: $input-text;
            }
            .dropdown-container {
              width: 46%;
              margin: 4%;
                .dropdown-item {
                    margin: 0;
                }
            }

            .chevron.down {
                float: right;
                margin-right: 7px;
            }

            .label {
                margin: 0;
                width: 45%;
                display: inline-block;

                p {
                    text-transform: uppercase;
                    font-weight: 300;
                    text-align: left;
                    vertical-align: baseline;
                    font-size: 12px;
                    margin: 0;
                }

                img {
                    margin: 0 5%;
                    vertical-align: text-bottom;
                }
            }
        }
    }

    .result-wrapper-outer {
        background: #212831;

        h2 {
            margin: 0;
            color: #fff;
            font-size: 18px;
            text-align: center;
        }

        .result-wrapper {
            @include flexbox;
            @include flex-wrap(wrap);
        }
    }

    .description-wrapper {
        padding: 40px 10%;

        p {
            line-height: 2;
        }
    }
}

.company {
    .button-icon,
    .section-wrapper img {
        margin: 0 10px -3px 0;
        display: inline-block;
    }

    .product-wrapper {
        padding: 2px 0;

        p {
            font-size: 9px;
        }

        .colored-wrapper {
            width: 70%;
            max-width: 165px;
        }
    }

    .text-wrapper {
        .section-wrapper {
            display: inline-block;
            width: 24%;
            text-align: center;

            p {
                display: inline-block;
            }

            button {
                color: white;
                padding: 15px 10%;
                background: $red;
                border: none;
            }
        }

        .section-wrapper:nth-child(2) {
            border-left: 1px solid white;
            border-right: 1px solid white;

            p {
                margin-bottom: 30px;
            }
        }
    }
}

.country {
    .header-image-wrapper {
        height: 375px;

        .image-overlay-wrapper {
            height: 140px;

            .section-wrapper {
                vertical-align: text-top;
                margin: 0 25px;
                position: relative;
            }

            .flag {
                width: 35px;
                position: absolute;
            }

            .continent-wrapper {
                height: 130px;
                margin-top: -15px;
                position: relative;
                width: 120px;

                img {
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.product.detailed-content-wrapper {
    .filter-wrapper {
        margin: -5px;
    }

    .filter {
        .dropdown-container {
            width: 50%;
        }

        .country-dropdown-label {
            width: 25%;
        }
    }
}
