.dropdown-container {
    position: relative;
    border: 1px solid;


    .selected-wrapper {
      padding: 5px;
      text-align: left;
    }

    ul {
      text-align: left;
        border: 1px solid;
        margin: 0px -1px;
        z-index: 10;
        height: 400px;
        overflow: scroll;
        position: absolute;
        width: 100%;
        background: white;
        li {
          padding:3px;
        }
    }
}
