.dropdown-container {
    position: relative;
    border: 1px solid $light-grey;

    .colored-wrapper.dropdown-item {
        width: 100%;
    }

    .dropdown-item {
        margin-bottom: 5px;

        p {
            font-size: 14px;
            color: white;
            padding-left: 40px;
        }
    }

    .selected-wrapper {
        p {display: inline-block;
            margin: 0 5px;
            color: $input-text;
        }
        padding: 7px 5px;
        text-align: left;
        background: white;
    }

    .item-wrapper {
        padding: 4px 5px 4px 8%;
        cursor: pointer;
        position: relative;
    }

    .flag {
        max-width: 30px;
        width: 15%;
        display: inline-block;
    }

    .flag,
    ul li p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .country-name {
        margin: 3px 0 3px 35px;
    }

    ul {
        height: 300px;
        overflow: scroll;
        text-align: left;
        border: 1px solid $light-grey;
        margin: 0 -1px;
        z-index: 10;
        position: absolute;
        width: 100%;
        background: white;

        li,
        p {
            font-size: 12px;
            font-weight: 200;
            color: $input-text;
            font-family: $libreFranklin;
        }
    }
}

.country-selection {
    .selected-wrapper {
        font-size: 12px;
        color: $input-text;
        position: relative;
        font-weight: 200;
        font-family: "Libre Franklin", sans-serif;
    }

    ul {
        height: 250px;
        overflow: scroll;
    }
}
