.nav-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    text-align: right;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 20px;
    background: $accent-color;
    margin: 0;
    padding: 32px;

    .profile-image-wrapper {
        margin-left: 10px;
        display: inline-block;
        width: 30px;
        vertical-align: text-top;
        height: 30px;
        margin-top: -7px;
        background: #f2f2f2;
        background-position: center;
        background-size: cover;
        border-radius: 120px;
        overflow: hidden;
    }

    .nav-bar-element {
        display: inline-block;

        .profile-img-wrapper {
            width: 25px;
        }

        a,
        a:visited,
        button {
            padding: 8px 40px;
            color: black;
            letter-spacing: 2px;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
        }

        button {
            background: transparent;
            border: none;
        }
    }

    .nav-bar-element.company-name a {
        padding-left: 15px;
    }

    .logo-wrapper {
        width: 80px;

        img {
            padding: 2px;
            width: 100%;
        }
    }

    .logo {
        float: left;
        position: absolute;
        left: 30px;
        top: 8px;
    }
}

.home {
    .nav-bar {
        background: none;
        position: absolute;

        .nav-bar-element {
            a,
            a:visited {
                color: $accent-color;
            }
        }
    }
}
