.sidebar {
  height: 100vh;
background: $middle-blue;

}

.sidebar-wrapper {
    display: inline-block;
    width: 30%;
    vertical-align: top;

    .sidebar-inner {
        .profile-image-wrapper {
            width: 200px;
            margin: 0 auto;
            height: 200px;
            padding: 30px 0;
        }

        .profile-info {
            padding: 0 40px;
            height: 400px;
            background: $dark-blue;
            color: white;
        }

        .icon {
            width: 25px;
            padding: 10px;
        }

        h3 {
            display: inline-block;
            vertical-align: text-bottom;
        }

        button {
            color: white;
            border: 1px solid white;
            background: black;
            padding: 15px 10%;
        }
    }

    .section-wrapper {
      position: relative;
        .yellow-line {
            position: absolute;
            background: $accent-color;
            width: 12px;
            bottom: -10px;
            height: 5px;
        }
    }

    .products {
        color: white;
        padding: 40px;
    }
}
